{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeepPDF</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <nav>
      <a href="/" class="main-link"><h1>DeepPDF</h1></a>
      <div class="nav-links">
        {% if request.user.is_authenticated %}
        <a href="/logout/">Logout</a>
        {% else %}
        <a href="/login/">Login</a>
        <a href="/signup/" class="color-bg">Sign Up</a>
        {% endif %}
      </div>
    </nav>

    <div class="loading hide">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <p class="message message-{{ message.tags }}">{{ message }} 
          <span class="close">&#x2716;</span>
        </p>
        {% endfor %}
      </div>
    {% endif %}
      

    {% block content %} {% endblock content %}
    <script>
      const closeBtns = document.querySelectorAll(".close");
      closeBtns.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.target.parentElement.style.display = "none";
        });
      });
    </script>

  </body>
</html>
